httpx
psycogreen
psycopg2-binary
pytest
pytest-check
pytest-html
python-dotenv
jsonschema
pytz
pytest-xdist
bs4
ipykernel
xdist
requests
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
twisted